<% @basket_items.each do |item| %>
<p><%= item.bottle.material%></p>
<p><%= item.bottle.size %></p>
<p><%= item.bottle.price %></p>
<%= form_with model: item do |f| %>
<%= f.hidden_field :bottle_id, value: item.bottle.id %>
<%= f.number_field :quantity, value: item.quantity.to_i%>
<%= f.submit "Update Cart" %>
<%= link_to "Remove Items", item, method: :delete, remote: true %>
<% end %>
<p>Subtotal: <%= item.total %></p>
<% end %>

<p><strong>W twoim portfelu obecnie jest: <%= current_basket.subtotal %> zł</strong></p>

