<p id="notice"><%= notice %></p>

<h2>Butelki, które możesz zwrócić</h2>

  <%# <thead>
    <tr>
      <th>Materiał</th>
      <th>Rozmiar</th>
      <th>Cena</th>

    </tr>
  </thead>  %>

  <tbody>
  <div class="row">
 
    <% @bottles.each do |bottle| %>
    
        <p><%= bottle.material %></p>
        <p><%= bottle.size %></p>
        <p>Cena: <%= bottle.price %> zł</p>
         <%= form_with model: @basket_item do |f| %>
         <%= f.hidden_field :bottle_id, value: bottle.id %>
         <%= f.number_field :quantity, value: 0, min: 1 %> 
         <%= f.submit "Dodaj do koszyka" %>
         <% end  %>
  
        <div><%= link_to 'Show', bottle %></div>
        <div><%= link_to 'Edit', edit_bottle_path(bottle) %></div>
        <div><%= link_to 'Destroy', bottle, method: :delete, data: { confirm: 'Jesteś pewnien?' } %></div>
  
    <% end %>

  </div>
  </tbody>

<br>
<%= link_to 'New Bottle', new_bottle_path %>
<br>
<%= link_to 'Back', root_path %>
