<p id="notice"><%= notice %></p>

<h4 class="subtitle-2">Butelki, które możesz zwrócić</h4>

  <div class="row">
    <% @bottles.each do |bottle| %>
      <div class="bottle-wrapper">
        <div class="img-btl"><%= image_tag(bottle.image, style: 'background-color:var(--main-green)') %></div>
        <p><%= bottle.material %></p>
        <p><%= bottle.size %></p>
        <p>Cena: <%= bottle.price %> zł</p>
         <%= form_with model: @basket_item do |f| %>
         <%= f.hidden_field :bottle_id, value: bottle.id %>
         <div class="field"><%= f.number_field :quantity, value: 0, min: 1 %> </div>
         <div class="btn"><%= f.submit "Dodaj do koszyka" %></div>
         <% end  %>

        <div class="link"><%= link_to 'Pokaż', bottle %></div>
        <div class="link"><%= link_to 'Edytuj', edit_bottle_path(bottle) %></div>
        <div class="link"><%= link_to 'Usuń', bottle, method: :delete, data: { confirm: 'Jesteś pewnien?' } %></div>
      </div>
    <% end %>
  
  </div>

<br>
<div class="link"><%= link_to 'Dodaj butelkę', new_bottle_path %></div>
<div class="link"><%= link_to 'Powrót', root_path %></div>
