<p id="notice"><%= notice %></p>
  
<div id="bottle_img"> 
  <%= image_tag(@bottle.image, style:'width:20%') %>
</div>

<p>
  <strong>Materiał:</strong>
  <%= @bottle.material %>
</p>

<p>
  <strong>Rozmiar:</strong>
  <%= @bottle.size %>
</p>

<p>
  <strong>Cena:</strong>
  <%= @bottle.price %>
</p>


<%= link_to 'Edit', edit_bottle_path(@bottle) %> |
<%= link_to 'Back', bottle_path %>
