<!DOCTYPE html>
<html>
  <head>
    <title>Bottles</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
  </head>

  <body>
    <main class="mx-auto main-container">

      <nav class="navbar-text">
        <%= link_to "", root_path, :class => 'navbar-link' %>
        <% if user_signed_in? %>
          Zalogowany jako <strong><%= current_user.email %></strong>.
          <%= link_to 'Edytuj profil', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Wyloguj", destroy_user_session_path, method: :delete, :class => 'navbar-link' %> |
          <%= link_to "Mój portfel", wallet_path(:wallet_id), :class => 'navbar-link' %>
        <% else %>
          <%= link_to "Rejestracja", new_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Zaloguj", new_user_session_path, :class => 'navbar-link' %>
        <% end %>
      </nav>

      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

 <div class="title-img">
    <div class="neon-btls">
    </div>
</div>
    <div class="main-title">
        <%= render "layouts/title" %>
    </div>

      <div class="content-wrapper">
        <%= yield %>
      </div>
    <footer><div>&copy; Agata Adamczewska 2021</div></footer> 
    </main>
  </body>
</html>
